<article class="post">
    <h3 class="post-title" style="font-size: 25px; color: #4682b4">
        {{title}}
    </h3>
    <p class="post-text">{{text}}</p>
    <p class="post-name" style="font-size 15px; color: #b7410e">
        by: {{user.username}} on
        {{format_date created_at}}
    </p>
    <a href="/post/{{id}}" class="comment">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</article>