<article class="post">
    <h2 class="post-title">
        {{title}}
    </h2>
    <p class="post-text">{{text}}</p>
    <p class="post-name">
        by: {{user.username}} on
        {{format_date created_at}}
    </p>
    <a href="/post/{{id}}" class="comment">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</article>